.header {
  background-color: #b349ff;
  /* height: 23.5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  padding: 5rem 8rem;
}
.header-left {
  max-width: 58ch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header-button {
  display: flex;
  align-items: start;
  gap: 2rem;
}
.title {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
}
span {
  color: #1d1d1d;
}
p {
  color: #fff;
  font-family: "CustomFont2";
  line-height: 16px;
  font-size: 13px;
  max-width: 65ch;
}
